<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Rijksmuseum application">
    <title><%- pageTitle %></title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="manifest" href="/manifest.json">
    <script src="/js/script.js"></script>
    <meta name="theme-color" content="#7a6b18">
    <link rel="apple-touch-icon" href="/img/iconapp.png">
</head>

<body>