<%- include('./partials/head') %>
<header>
    <img src="img/Rijks.jpeg" alt="achtergrond afbeelding van het rijksmuseum">
</header>
<main>
    <h4> we zijn offline bro</h4>

</main>
<%- include('./partials/foot') %>