/* ------------------------------------------------properties voor de gradient */
:root {
    --color-1: rgb(31, 193, 27);
    --color-2: rgb(255, 217, 19);
    --color-3: rgb(255, 156, 85);
    --color-4: rgb(255, 85, 85);
    --color-5: rgb(31, 193, 27);
    --angle: 0deg;
  }

* {
    box-sizing: border-box;
}

body {
    background-color: #DCDCDC;
    width: 100%;
    padding: 0;
    margin: 0;
}
/* ------------------------------------------------ background image */
header {
    display: flex;
    margin: 0 auto;
    height: 100vh;
    background-image: url("../img/Rijks.jpeg");
    background-size: cover;
    background-position: bottom; 
    position: fixed;
    top: 0;
    width: 100vw;
    text-align: center;
}
/* ------------------------------------------------h1 bewegende gradient */
body > div > h1{
   position: absolute;
   top: 10vh;
   font-family: Copperplate;
   margin: 0;
   font-size: 3em;
   left: 50%;
    transform: translate(-50%, 0);
   background: linear-gradient(
    var(--angle),
    var(--color-1) 19%,
    transparent 19%,
    transparent 20%,
    var(--color-2) 20%,
    var(--color-2) 39%,
    transparent 39%,
    transparent 40%,
    var(--color-3) 40%,
    var(--color-3) 59%,
    transparent 59%,
    transparent 60%,
    var(--color-4) 60%,
    var(--color-4) 79%,
    transparent 79%,
    transparent 80%,
    var(--color-5) 80%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; 
  animation: 10s rotate linear infinite;
  opacity: 1;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.input {
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    width: 75%;
    margin: auto;
    max-width: 500px;
    margin-top: 30vh;
}

  .search-icon {
    position: absolute;
    top: 15px;
    left: 8px;
    width: 20px;
  }

  .kruisje {
    position: absolute;
    top: 15px;
    right: 8px;
    width: 20px;
    cursor: pointer;
    visibility: hidden;
  }

  .kruisjeToggle {
    visibility: visible;
  }

  .input input {
    border: 1px solid white;
    border-radius: 5px;
    height: 50px;
    width: 100%;
    padding: 2px 23px 2px 40px;
    outline: 0;
    background-color:white ;
  }

  .content {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: auto;
      justify-content: flex-start;
      max-width: 500px;
      height: 30vh;
      margin-top: 1em;
      position: relative;
  }

  .content > article {
      position: relative;
      width: 80%;
      margin: 3em 1em;
      
  }

  .content > article h1 {
    position: absolute;
    top: 10vh;
    left: 1vw;
    font-family: Copperplate;
    font-size: 2em;
    text-align: center;
    background: linear-gradient(
    var(--angle),
    var(--color-1) 19%,
    transparent 19%,
    transparent 20%,
    var(--color-2) 20%,
    var(--color-2) 39%,
    transparent 39%,
    transparent 40%,
    var(--color-3) 40%,
    var(--color-3) 59%,
    transparent 59%,
    transparent 60%,
    var(--color-4) 60%,
    var(--color-4) 79%,
    transparent 79%,
    transparent 80%,
    var(--color-5) 80%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; 
  animation: 10s rotate linear infinite;
  opacity: 1;
  }

  .content > article:first-of-type {
    margin-top: 4em;

}

  .content > article img {
      width: 100%;
      height: auto;
      box-shadow: blue 0px 0px 0px 2px inset, rgb(0, 0, 0) 10px -10px 0px -3px, rgb(31, 193, 27) 10px -10px, rgb(0, 0, 0) 20px -20px 0px -3px, rgb(255, 217, 19) 20px -20px, rgb(0, 0, 0) 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px, rgb(0, 0, 0) 40px -40px 0px -3px, rgb(255, 85, 85) 40px -40px;
      transition: all .2s ease-in-out;
}


.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

.headerOpacity {
  animation: headerOpacity 2s ease-in forwards;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

/* @keyframes invliegen {
  0% {
    margin-top: 100vh;
  }

  100% {
    margin-top: 30vh;
  }
} */

@keyframes headerOpacity {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.3;
  }
}
.content > article p:first-of-type {
    position: absolute;
    top: 1vh;
    left: 1vw;
    padding: 0.2em;
    font-family: Copperplate;
    font-size: 1.4em;
    background-color: rgb(0,0,0, 0.7);
    color: white;
}

.content > article p:last-of-type {
  position: absolute;
  bottom: 1vh;
  left: 2vh;
  padding: 0.2em;
  font-family: Copperplate;
  font-size: 1em;
  background-color: rgb(0,0,0, 0.7);
  color: white;
}
.content > article img:hover {
    transform: scale(1.15);
    z-index: 1;
}

/* --------------------------------------- detail pagina css --------- */

.detail {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    width: 100%;
    margin: auto;
    margin-top: 20vh;
    align-items: center;
}

.detail img {
  width: 50%;
  height: auto;
  margin-bottom: 2em;
}

.detail p:first-of-type {
  
  padding: 0.2em;
  font-family: Copperplate;
  font-size: 1.4em;
  background-color: rgb(0,0,0, 0.7);
  color: white;
}

.detail p:last-of-type {
  margin: 0 0 1em 0;
  padding: 0.2em;
  font-family: Copperplate;
  font-size: 1.4em;
  background-color: rgb(0,0,0, 0.7);
  color: white;
}

.detail a {
  text-decoration: none;
  font-family: Copperplate;
  font-size: 1.4em;
  color: white;
}


@media only screen and (max-width: 900px) {

  .content > article p:first-of-type {
    padding: 0.5em;
    font-size: 1em;
    left: 1vw;
}
.detail img {
  width: 90%;
  height: auto;
}
}

h4 {
  position: absolute;
  color: white;
  font-size: 2em;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}